{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Detail of a wish
{% endblock %}

{% block body %}
    <h1 class="title">Detail of {{ wish.title }}</h1>
    <div class="container">
        <p>Author : {{ wish.author }}</p>
        <p>{{ wish.description }}</p>
        <p> Created date : {{ wish.dateCreated | date("d-m-Y") }}</p>
    </div>
    <div class="container">
        <a class="bouton bouton-del" href="{{ path('whish_delete', {'id': wish.id}) }}">Delete</a>
        <a class="bouton bouton-update" href="{{ path('whish_update', {'id': wish.id}) }}">Modify</a>
    </div>
{% endblock %}

