{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Detail of a wish
{% endblock %}

{% block body %}
    <h1 class="title">Detail of {{ whish.title }}</h1>
    <div class="container">
        <p>Author : {{ whish.author }}</p>
        <p>{{ whish.description }}</p>
        <p> Created date : {{ whish.dateCreated | date("d-m-Y") }}</p>
    </div>
{% endblock %}

